:root {
  --base: #4caf50;
  --spacing: 20px;
  --blur: 5px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}



body {
  text-align: center;
  background: #a8d1ec;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.controls {
  margin-bottom: 60px;
}

input {
  width: 120px;
}
